@{
    ViewData["Title"] = "Volani";
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewData["Title"]</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript">
        // JavaScript logic for processing packet data
        function processPacketData() {
            console.log("Processing packet data...");
            // Add your JavaScript logic here
        }
    </script>
</head>
<body>
    <h1>Volani Page</h1>
    <button onclick="processPacketData()">Process Packet Data</button>
</body>
</html>